/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  background-color: #504f4f;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  display: flex;
  flex-direction: column;
  border: solid yellow;
  margin: 0px;
  align-items: center;
}

.sub-heading {
  margin-top: 0;
  color: rgb(195, 192, 192);
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333333;
  border: solid yellow;
  border-radius: 0.5rem;
  height: 325px;
  width: 300px;
  margin: 0;
  gap: 1.1rem;
  box-shadow: 0 6px 10px #6a6a6a;
  padding-top: 20px;
}

fieldset {
  border: 0;
}

.palette-title {
  text-align: center;
}

.colors-container {
  margin-bottom: 20px;
}

.previewDiv {
  background: linear-gradient(to bottom, white 50%, black 50%);
}

#copyBtn {
  background-color: #6b6b6b;
  color: white;
  border: 1px solid #6c6c6c;
  padding: 4px 6px;
  font-size: 17px;
  text-align: center;
}

#copyBtn:hover {
  background-color: rgb(194, 193, 193);
  color: #000;
}

.colors-selector {
  gap: 0.2rem;
}

h1 {
  margin: 0;
}

h2 {
  margin-top: 5px;
}

h1,
h2,
label,
legend {
  color: #e4e4e4;
}

.create-btn {
  background-color: #6b6b6b;
  color: white;
  border: 1px solid #6c6c6c;
  padding: 4px 6px;
  font-size: 17px;
  text-align: center;
}

.create-btn:hover {
  background-color: rgb(194, 193, 193);
  color: #000;
}

.delete-btn {
  background-color: #6b6b6b;
  width: 8em;
  color: white;
  border: 1px solid #6c6c6c;
  padding: 4px 6px;
  font-size: 17px;
  text-align: center;
}

.delete-btn:hover {
  background-color: rgb(194, 193, 193);
  color: #000;
}

.palette-section-header {
  padding: 0px;
  margin-top: 20px;
  margin-left: 20px;
}

#palette-list {
  display: flex;
  justify-content: start;
  margin: 10px;
  flex-wrap: wrap;
  border: solid yellow;
}

/* .palette-item {
  list-style: none;
  padding: 0;
  margin: 0;
} */

.palette {
  width: 285px;
  background-color: #333333;
  border-radius: 0 35px 0 0; /* Rounded top-right corner */
  padding: 10px 15px;
  margin: 25px;
  color: white;
  text-align: center;
  position: relative;
}

li {
  list-style: none;
}

.colorDiv {
  display: flex;
  margin: 0;
  padding: 0;
}
